{% extends "base.html" %}
{% block content %}
<div class="row">

    <div class="col-md-9">
        <h2>전체 대여 목록:</h2>
        <table style="width:100%" id="books">
            <tr>
                <th>대여자</th>
                <th>도서명</th>
                <th>대여일</th>
                <th>반환기일</th>
                <th>남은일수</th>
                <th>상태</th>
            </tr>

            {% for book in bookrenthistory_list %}
            <!-- <h1> test </h -->
            <tr>
                <td>{{ book.user }}</td>
                <td>{{ book.book.title }}</td>
                <td>{{ book.rent_date|date:"M.d Y" }}</td>
                <td>{{ book.back_date|date:"M.d Y" }}</td>
                <td>{{ book.how_many_days }}</td>
                {% if '-' in book.how_many_days  %}
                <td style="color:red"> 연체 </td>
                {% else %}
                <td style="color:blue"> 정상 </td> 
                {% endif %}
                
            </tr>
            {% endfor %}
        </table>

    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock content %}